body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #fff;
  margin: 0;
  padding: 0;
  background-size: cover;
  font-family: 'Montserrat' !important;
}

ul {
  list-style: none;
  padding: 0;
}

@media screen and (max-width: 768px) {

  body {
    background-size: contain;
  }

  ul {
    list-style: none;
    padding: 0;
  }

}

/* Apply Animation to Selected Object */
/* .object.selected {
  animation: float 2s ease-in-out infinite, swing 3s ease-in-out infinite;
} */